<div class="col-md-4" style="height:85vh; overflow-y: scroll;">
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                </span>
            </div>
        </div>
    </div>
    <div class="panel panel-danger">
        <div class="panel-heading">Me</div>
        <table class="table">
            <thead>
            <tr>
                <th class="text-center"></th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            </thead>
            <tbody>
            <tr id="{{ me.id }}">
                <td class="col-md-2"> <img src="{{ asset('avatars/') }}{{ me.Avatar }} " class="img-circle img-responsive"></td>
                <td>{{ me.FirstName }}</td>
                <td>{{ me.LastName }} </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="panel panel-warning">
        <div class="panel-heading">Everybody</div>
        <table class="table">
            <thead>
            <tr>
                <th class="text-center"></th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            </thead>
            <tbody>
            {% for contact in contacts %}
            <tr id="{{ contact.id }}">
                <td class="col-md-2"> <img src="{{ asset('avatars/') }}{{ contact.Avatar }}" class="img-circle img-responsive"></td>
                <td>{{ contact.FirstName }}</td>
                <td>{{ contact.LastName }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>