{% extends 'base.html.twig' %}

{% block title %}Person{% endblock %}

{% block body %}
<div class="ui segments">
    <div class="ui segment">
        <h1>
            <i class="bordered teal address card icon"></i>
            {{ person.firstName }} {{ person.middleName }} {{ person.lastName }}'s Profile
        </h1>
        <div class="ui horizontal segments">
            <div class="ui segment">
                <img class="ui fluid bordered medium image" src="{{ avatar }}">
            </div>
            <div class="ui segment">
                <p>Middle</p>
            </div>
        </div>
    </div>
    <h1>Person</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ person.id }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ person.firstName }}</td>
            </tr>
            <tr>
                <th>MiddleName</th>
                <td>{{ person.middleName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ person.lastName }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ person.slug }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('person_index') }}">back to list</a>

    <a href="{{ path('person_edit', {'id': person.id}) }}">edit</a>

    {{ include('person/_delete_form.html.twig') }}
{% endblock %}
