<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <div class="ui visible inverted sidebar vertical menu main-menu">
        <div class="item">
            <img class="ui medium centered avatar image" src="{{ default_avatar }}">
        </div>
        <a href="{{ path('person_index') }}" class="item">
            <i class="user icon"></i>
            My Information
        </a>
        <a href="{{ path('person_index') }}" class="item">
            <i class="address book icon"></i>
            All Contacts
        </a>
        <a href="{{ path('person_index') }}" class="item">
            <i class="users icon"></i>
            Groups
        </a>
        <a href="{{ path('app_logout') }}" class="item">
            <i class="cogs icon"></i>
            Settings
        </a>
        <a href="{{ path('app_logout') }}" class="item">
            <i class="hand scissors outline icon"></i>
            Logout
        </a>
    </div>
    <div class="pusher">
        <div class="ui  container">
            <div class="ui twelve wide column">
                <div class="ui segments main-segment">
                    <div class="ui segment">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
